{% extends "base_layout.html" %}
{% load static from static %}

{% block style %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
  body{
    background-image: url("{% static 'backg.jpg' %}");
    background-position-y: -5rem;
    overflow-x: hidden;

  }
  h1{
    position: relative;
    top: 3em;
    left:3em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;

  }
  h2{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 7em;
    left: 7em;
  }

</style>

{% endblock style %}

{% block content %}
    <h1>Shoes that fits</h1>
    <h2>And looks amazing</h2>
{% endblock content %}