{% extends "base_layout.html" %}
{% load static from static %}

{% block style %}
<style>
    *{
    }
    

</style>

{% endblock style %}

{% block content %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="{% static 'backg.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
          </div>
        </div>
      </div>
{% endblock content %}