{% extends 'base_layout.html' %}

{% block content %}

<div class="item container">
    <h1 class="font-weight-bold text-center">{{item.productTitle }}</h1>
    <p class="text-center">{{ item.date }}</p>
    <div class="row">
        <div class="item-image col-sm-4 align-middle">
            <img class="rounded d-block" src="{{ item.thumbnail.url }}">
        </div>
        <div class="item-about col-sm-8">
            <h4 class="text-center">About product-</h4>
            <h6>{{ item.about }}</h6>
            <h4 class="text-center">Price- {{ item.price }}</h4>
            <h4 class="text-center">Seller- {{ item.seller }}</h4>
            <button class="btn btn-primary">Buy Now</button>
            <button class="btn btn-outline-dark">Add to cart</button>
        </div>
    </div>
</div>

{% endblock content %}