@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Ranchers&display=swap');

*{}
body{
    font-family: Arial, Helvetica, sans-serif
    
}

.navbar{
    text-transform: uppercase;
    font-weight: 700!important;
    

}
.nav-item:hover{
    color: cyan!important;
}
.display-2 .display-4{
    font-family: 'Lobster', cursive;
}
.col-sm-6{
    padding: 0px auto;

}
.nav-item:active{
    color: black;
}
