@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('./background.svg');
    overflow-y: scroll;
    
}
.navbar{
    text-transform: uppercase;
    font-weight: 700;

}