{% extends 'base_layout.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 py-2">
            <h1>Hello cart bish</h1>
        </div>
        <div class="col-md-1 py-2">
            <button class="btn btn-secondary text-center">Checkout</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        {% for item in order.get_cart_items %}
        <div class="col-sm-2" style="padding: 1rem;">
            <div class="card card-deck">
                <img src="{{ item.product.thumbnail.url }}" class="card-img-top" alt="Shoes" style="padding:5px;">
                <!-- <div class="card-body">
                <h5 class="card-title text-center">{{ item.productTitle }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: {{ item.price }}</li>
                </ul> -->

                <div class="card-body">
                <h5 class="card-title">{{ item.product.productTitle }}</h5>
                <h6 class="card-subtitle text-muted">Price: {{ item.product.price }}</h6>
                </div>
                <div class="card-body">
                <!-- <a href="{% url 'items:details' slug=item.product.slug %}" class="btn btn-primary">Buy</a> -->
                <a href="{% url 'shopping_cart:remove_from_cart' item_id=item.product.itemID %}" class="card-link btn btn-primary">Remove from cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}